fastapi
mlflow
uvicorn
python-multipart
boto3
jupyterlab
jupyterlab-execute-time
lightgbm
loguru
psycopg2-binary
pytest
pytest-cov
pandas
shap
evidently
numpy
scikit-learn
sqlalchemy
dagster
PyMySQL
xgboost
